body{
    display: flex;
    justify-content: center;
}
.card{
    text-align: center;
}
.log-up{
    font-size: small;
}
img{
    height: 80px;
    width: 80px;
}
.logo-name{
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}